<html lang="en">

{{> ./partials/_head title="My Artwork"}}

<body>
    <header>
        {{> ./partials/_nav-menu current="art"}}
    </header>

    <main id="software">
        <h1 class="lg-heading">
            My
            <span class="text-secondary">Projects</span>
        </h1>
        <h2 class="sm-heading">
            Placeholder
        </h2>
        <div class="projects">
            <div class="item">
                <a href="#!">
                    <img src="assets/img/projects/project1.jpg" alt="project 1">
                </a>
                <button class="btn-light">
                    <i class="fas fa-eye"></i> Project
                </button>
                <button class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </button>
            </div>
            <div class="item">
                <a href="#!">
                    <img src="assets/img/projects/project2.jpg" alt="project 2">
                </a>
                <button class="btn-light">
                    <i class="fas fa-eye"></i> Project
                </button>
                <button class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </button>
            </div>
            <div class="item">
                <a href="#!">
                    <img src="assets/img/projects/project3.jpg" alt="project 3">
                </a>
                <button class="btn-light">
                    <i class="fas fa-eye"></i> Project
                </button>
                <button class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </button>
            </div>
            <div class="item">
                <a href="#!">
                    <img src="assets/img/projects/project4.jpg" alt="project 4">
                </a>
                <button class="btn-light">
                    <i class="fas fa-eye"></i> Project
                </button>
                <button class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </button>
            </div>
            <div class="item">
                <a href="#!">
                    <img src="assets/img/projects/project5.jpg" alt="project 5">
                </a>
                <button class="btn-light">
                    <i class="fas fa-eye"></i> Project
                </button>
                <button class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </button>
            </div>
        </div>
    </main>

    <footer id="main-footer">
        Copyright &copy; 2018
    </footer>
</body>


</html>