<html lang="en">

{{> ./partials/_head title="Contact Me"}}

<body>
    <header>
        {{> ./partials/_nav-menu current="contact"}}
    </header>

    <main id="contact">
        <h1 class="lg-heading">
            Contact
            <span class="text-secondary">Me</span>
        </h1>
        <h2 class="sm-heading">
            Placeholder
        </h2>
        <div class="contact-boxes">
            <button>
                <span class="text-secondary">Email:</span> test@test.com
            </button>
            <button>
                <span class="text-secondary">Phone:</span> 1234567890
            </button>
            <button>
                <span class="text-secondary">Address:</span> blah blah blah
            </button>
        </div>
    </main>

    <footer id="main-footer">
        Copyright &copy; 2018
    </footer>
</body>


</html>